*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background: linear-gradient(135deg,#3a7bd5,#00d2ff);

}

/* MAIN CARD */

.container{

width:600px;
background:#f5f7fb;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,0.2);

}

/* TITLE */

h1{

text-align:center;
font-size:36px;
color:#2c3e50;
margin-bottom:5px;

}

.subtitle{

text-align:center;
color:#7f8c8d;
margin-bottom:25px;
font-size:14px;

}

/* INPUT AREA */

.inputBox{

display:flex;
gap:12px;
margin-bottom:20px;

}

/* TASK INPUT */

#taskInput{

flex:2;
padding:12px;
border-radius:10px;
border:1px solid #dcdcdc;
font-size:14px;
background:white;

}

/* DATE INPUT */

#deadline{

flex:1;
padding:12px;
border-radius:10px;
border:1px solid #dcdcdc;
background:white;

}

button{

padding:12px 20px;
border:none;
border-radius:10px;
background:linear-gradient(135deg,#0072ff,#00c6ff);
color:white;
font-size:15px;
cursor:pointer;
font-weight:600;

}

button:hover{
opacity:0.9;
}

ul{
list-style:none;
}

li{

display:flex;
justify-content:space-between;
align-items:center;

background:white;
padding:14px;
margin-bottom:12px;

border-radius:12px;

box-shadow:0 5px 12px rgba(0,0,0,0.1);

}

.taskLeft{

display:flex;
align-items:center;
gap:10px;
flex-wrap:wrap;

}

.priority{

padding:4px 10px;
border-radius:6px;
font-size:12px;
color:white;
text-transform:uppercase;

}

.high{
background:#ff4b5c;
}

.medium{
background:#ff9f43;
}

.low{
background:#2ecc71;
}


.delete{

background:#ff4b5c;
color:white;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
font-size:12px;

}

.delete:hover{
background:#e63946;
}

.taskDone{
text-decoration:line-through;
color:gray;
}